.Dictionary {
    font-family: 'Comfortaa', cursive;
    border-radius: 30px;
    border: 1px solid rgb(253, 233, 240);;
    max-width: 700px;
    margin: auto;
    background: rgb(253, 233, 240);
    padding-top: 20px;
    padding-bottom: 20px;
}

.Dictionary input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 30px;
    border: 2px solid rgb(238, 187, 205);
}

.Dictionary h1 {
    font-size: 30px;
    font-weight: bold;
}

.Dictionary section {
    margin: 25px 50px;
}

.Dictionary .hint {
    font-size: 10px;
    opacity: 0.7;
    margin-top: 5px;
    margin-left: 5px;
}
